<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://JAVA.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Second_RequestDispatcher_Demo</display-name>
	<welcome-file-list>
		<welcome-file>home.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>first</servlet-name>
		<servlet-class>com.pack.servlets.FirstServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>first</servlet-name>
		<url-pattern>/fs</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>second</servlet-name>
		<servlet-class>com.pack.servlets.SecondServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>second</servlet-name>
		<url-pattern>/ss</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>student</servlet-name>
		<servlet-class>com.pack.record.StudentRecordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>student</servlet-name>
		<url-pattern>/stu</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>teacher</servlet-name>
		<servlet-class>com.pack.record.TeacherRecordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>teacher</servlet-name>
		<url-pattern>/teach</url-pattern>
	</servlet-mapping>
</web-app>